body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .form-container {
    background-color: white;
    border-radius: 8px;
    width: 100%;
    margin-top: 63px;
  }
  .form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    background-color: #16a290;
    padding: 10px;
    border-radius: 5px;
    color: white;
  }
  .form-group {
    margin-bottom: 15px;
  }
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  .form-group input,
  .form-group select,
  .form-group textarea {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .form-group textarea {
    resize: vertical;
  }
  .form-group button {
    background-color: #16a290;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
  }
  .form-group button:hover {
    background-color: #126e62;
  }
  
  
header {
  background-color: #16a290;
  color: #fff;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
}

.heading {
  display: flex;
  align-items: center;
  gap: 5px;
}


@media screen and (min-width: 700px) {  
  .form-container {
    max-width: 80%;
    padding: 15px;
  }
  .form-group input,
  .form-group select,
  .form-group textarea {
    padding: 8px;
  }
  .form-group button {
    padding: 10px;
    font-size: 14px;
  }
}
  
  @media (max-width: 480px) {
    .form-container {
      max-width: 100%;
      padding: 10px;
    }
    .form-group input,
    .form-group select,
    .form-group textarea {
      padding: 6px;
    }
    .form-group button {
      padding: 8px;
      font-size: 12px;
    }
  }
  