/* detail.css  */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    background-color: #16a290;
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

.heading {
    display: flex;
    align-items: center;
    gap: 5px;
}

nav {
    /* display: flex ; */
    align-items: center;
    padding-left: 5px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3px;
}

.logo img {
    border-radius: 10px;
}

.logo h1 {
    font-size: 17px;
}

.searchbar {
    width: 50%;
    border: 1px solid black;
    border-radius: 3px;
    background-color: transparent;
    color: black;
    padding: 1px 5px;
}

.searchbar::placeholder {
    color: rgb(0, 0, 0);
    opacity: 0.7;
}

/* Navigation menu styles */
.dropdown ul {
    display: none;
    position: absolute;
    top: 68px;
    left: 26px;
    background-color: white;
    color: black;
    width: 40vw;
    list-style: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding-left: 0px;
    box-shadow: 6px 5px 12px black;
}

.dropdown {
    display: flex;
    justify-content: space-between;
    background-color: #76e1d3;
    align-items: center;
}

.dropdown ul li {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 9px;
    padding: 10px 0px;
    padding-left: 5px;
    /* Adjust this value as needed */
    border-radius: 5px;
    box-sizing: border-box;
    /* Ensure padding is included in width */
    text-align: var(150px);
}

.dropdown ul li:hover {
    background-color: lightgray;
}


.dropdown ul li a {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: start;
    gap: 9px;
    align-items: center;
    width: 100%;
}

.menu-toggle {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 22px;
}

.dropdown ul.show {
    display: flex;
}

.Profile {
    width: 20px;
    height: 20px;
    padding-top: 5px;

}

li img {
    width: 20px;
    height: 20px;
}

.signlog {
    display: flex;
}

.signupdrop ul {
    display: none;
    position: absolute;
    top: 32px;
    right: 26px;
    background-color: white;
    color: black;
    width: 40vw;
    list-style: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding-left: 0px;
    box-shadow: 6px 5px 12px black;
}

.signupdrop {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    align-items: center;
}

.signupdrop ul li {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 9px;
    padding: 10px 0px;
    padding-left: 5px;
    /* Adjust this value as needed */
    border-radius: 5px;
    box-sizing: border-box;
    /* Ensure padding is included in width */
    text-align: var(150px);
}

.signupdrop ul li a {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: start;
    gap: 9px;
    align-items: center;
    width: 100%;
}

.signupdrop ul li:hover {
    background-color: lightgray;
}

.signup-toggle {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 10px;
}

.signupdrop ul.show {
    display: flex;
}


.filters ol {
    display: none;
    position: absolute;
    top: 68px;
    right: 26px;
    background-color: white;
    color: black;
    width: 40vw;
    list-style: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding-left: 0px;
    box-shadow: -6px 5px 12px black;

}

.filters ol li{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 9px;
    padding: 10px 0px;
    padding-left: 10px; /* Adjust this value as needed */
    padding-right: 10px; /* Adjust this value as needed */
    border-radius: 5px;
    box-sizing: border-box; /* Ensure padding is included in width */
    text-align: var(150px);
}

.filters ol li a {
    text-decoration: none;
    color: black;
    display: inline-block;
}

.filter-toggle {
    background-color: transparent;
    border: none;
    color: black;
    font-size: 17px;
}

.filters ol.show {
    display: flex;
}

.filters ol li:hover {
    background-color: lightgray;
}

.login {
    background-color: transparent;
    border: none;
    font-size: 10px;
}

.login a {
    text-decoration: none;
    color: white;

}


/* Cart */
.cart-box {
    position: relative;
}

.item-In-Cart {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: red;
    color: white;
    border-radius: 20%;
    font-size: 8px;
    padding: 0px 2px;
}

.Details {
    width: 90%;
    border: 1px solid gray;
    border-radius: 5px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding: 10px 0;
    margin-top: 100px;
}

.item-details {
    width: 94%;
    border: 1px solid gray;
    border-radius: 5px;
    height: 500px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.order {
    width: 94%;
    border: 1px solid gray;
    border-radius: 5px;
    height: 500px;
    margin: auto;
}

#orderForm {
    width: 100%;
}

.inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    margin-bottom: 70px;
    margin-top: -66px;
}

.Card {
    width: 70%;
}

.paymentInputs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    margin: auto;
}

.inputs h1 {
    text-align: center;
}

.paymentInputs h1,
h2 {
    text-align: center;
}

.input {
    width: 93%;
    margin: auto;
}

.nextcont {
    width: 100%;
    display: flex;
}
.ordercont{
    width: 100%;
    display: flex; 
    justify-content: center;
}

.paymentDetails {
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin: auto;
    width: 95%;
}

.paymentInput {
    width: 95%;
    display: flex;
    gap: 10px;
    justify-content: space-between;
}
.cardInput{
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: space-between;

}
.upi {
    width: 95%;
}

.Expiry,
.cvv {
    width: 15%;
}

.custdetails {
    width: 97%;
    padding: 5px 0;
    border-radius: 5px;
    padding-left: 10px;
    border: 1px solid gray;
}

.order {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.nextbutton {
    width: 93%;
    margin: auto;
    border-radius: 5px;
    border: 1px solid gray;
    font-size: 17px;
    background-color: #16a290;
    color: white;
}

.orderbutton {
    width: 95%;
    border-radius: 5px;
    border: 1px solid gray;
    font-size: 17px;
    background-color: #16a290;
    color: white;
    margin-top: 40px;
}

@media screen and (min-width: 700px) {
    .Details {
        flex-direction: row;
        margin-top: 170px;
    }

    .item-details {
        width: 67%;
    }

    .order {
        width: 29%;
    }

    #orderForm {
        width: 100%;
    }

    #paymentform {
        width: 100%;
        margin: auto;
    }


    .inputs {
        margin-top: -10px;
    }

    .logo h1 {
        font-size: 27px;
    }


    .upi {
        width: 95%;
    }

    .dropdown ul {
        width: 20vw;
        top: 82px;
        left: 40px;
    }

    .dropdown ul li {
        padding-left: 10px;
    }

    .filters ol {
        width: 20vw;
        top: 82px;
        right: 70px;
    }

    .signupdrop ul {
        width: 20vw;
        top: 46px;
        right: 70px;
    }

    .Profile {
        width: 30px;
        height: 30px;
    }

    .login {
        font-size: 17px;
    }

    .signup-toggle {
        font-size: 17px;
    }

    .searchbar {
        width: 60%;
        padding: 7px 5px;
    }

    .footer-section {
        animation-range: entry 0 cover 10%;
    }
}

@media screen and (min-width: 1300px) {
    .dropdown ul {
        width: 10vw;
    }

    .filters ol {
        width: 10vw;
    }

    .signupdrop ul {
        width: 10vw;
    }
}