body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    height: 100vh;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85%;
}

.login-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    margin-top: 120px;
    margin-left: 15px;
}

.login-container h2 {
    margin: 0 0 20px;
    color: #333;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-container button {
    background: #16a290;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    margin-top: 10px;
}

.login-container button:hover {
    background: #2c8b7e;
}

.login-container .register-link {
    display: block;
    margin-top: 15px;
    color: #16a290;
    text-decoration: none;
}
#forgot-password{
    font-size: 11px;
    text-align: end;
    margin-top: 6px;
}

.login-container .register-link:hover {
    text-decoration: underline;
}

header {
    background-color: #16a290;
    color: #fff;
    margin-top: 0px;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.heading {
    display: flex;
    align-items: center;
    gap: 5px;
}


@media screen and (min-width: 700px) {
    .main {
        height: 78%;
    }
}


/* Password-reset */
.login-container,
.password-reset-container,
.password-reset-confirm-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    display: none;
    /* Hide all containers by default */
}

.login-container {
    display: block;
    /* Show the login form by default */
}

.login-container h2,
.password-reset-container h2,
.password-reset-confirm-container h2 {
    margin: 0 0 20px;
    color: #333;
}

.login-container input[type="text"],
.login-container input[type="password"],
.password-reset-container input[type="email"],
.password-reset-confirm-container input[type="password"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-container button,
.password-reset-container button,
.password-reset-confirm-container button {
    background: #16a290;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    margin-top: 10px;
}

.login-container button:hover,
.password-reset-container button:hover,
.password-reset-confirm-container button:hover {
    background: #2c8b7e;
}

.login-container .register-link,
.password-reset-container .register-link,
.password-reset-confirm-container .register-link {
    display: block;
    margin-top: 15px;
    color: #16a290;
    text-decoration: none;
}

.login-container .register-link:hover,
.password-reset-container .register-link:hover,
.password-reset-confirm-container .register-link:hover {
    text-decoration: underline;
}
