body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  /* background-color: #caf0f8; */
}
#ChatBot-Box{
visibility: hidden;
}
main {
  display: flex;
  padding: 20px;
  gap: 10px;
}

.sidefilters {
  width: 19%;
  padding: 20px;
  background-color: #f8f8f8;
  border-right: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgb(151, 138, 138);
}

.sidefilters h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.sidefilters ul {
  list-style: none;
  padding: 0;
}

.sidefilters li {
  margin-bottom: 10px;
}

.sidefilters input {
  margin-right: 10px;
}

.sidefilters a {
  color: blue;
  text-decoration: none;
}

.sidefilters a:hover {
  text-decoration: underline;
}

.restaurant-list {
  width: 79%;

}

.restaurant-list h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.restaurant-item {
  display: flex;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 1px 1px 5px rgb(151, 138, 138);
}

.restaurant-item img {
  width: 200px;
  height: 130px;
  margin-right: 20px;
  border-radius: 5px;
}

.restaurant-info {
  flex-grow: 1;
  line-height: 1.2;
}

.restaurant-info h3 {
  margin: 0;
  font-size: 1.2em;
}

.restaurant-info p {
  margin: 5px 0;
}

.buttonCont {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.detailsbutton {

  color: white;
  border: none;
  height: 30px;
  width: 70px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #16a290;
}

.detailsbutton a {
  text-decoration: none;
  color: white;
}

.cart {
  background-color: #5ab3a7;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 30px;
  width: 70px;
}

.restaurant-info button:hover {
  background-color: #c0392b;
}

.text {
  font-size: xx-large;
  text-align: center;
  background-color: #22577a;
  padding: 15px;
  border-radius: 5px;
  color: #f5edef;
}

header {
  justify-content: space-between;
  align-items: center;
  color: white;
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: #16a290;
}

strong {
  color: #8d99ae;
}

.filters-toggle {
  color: white;
}

.heading {
  display: flex;
  align-items: center;
  gap: 5px;
}

nav {
  /* display: flex ; */
  align-items: center;
  padding-left: 5px;
}

.navlogo{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 8px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3px;
}

.logo img {
  border-radius: 10px;
}

.logo span {
  font-size: 22px;
  font-weight: 700;
}

/* Navigation menu styles */
.dropdown ul {
  display: none;
  position: absolute;
  top: 68px;
  left: 26px;
  background-color: white;
  color: black;
  width: 170px;
  list-style: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding-left: 0px;
  box-shadow: 6px 5px 12px black;
}

.dropdown {
  display: flex;
  justify-content: space-between;
  background-color: #76e1d3;
  align-items: center;
  width: 100%;
}

.dropdown ul li {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 9px;
  padding: 10px 0px;
  padding-left: 5px;
  /* Adjust this value as needed */
  border-radius: 5px;
  box-sizing: border-box;
  /* Ensure padding is included in width */
  text-align: var(150px);
}

.dropdown ul li:hover {
  background-color: lightgray;
}

.dropdown ul li a {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: start;
  gap: 9px;
  align-items: center;
  width: 100%;
}

.menu-toggle {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 22px;
}

.dropdown ul.show {
  display: flex;
}

.Profile {
  width: 20px;
  height: 20px;
  padding-top: 5px;
}

li img {
  width: 20px;
  height: 20px;
}

.signlog {
  display: flex;
}

.signup-toggle {
  font-size: 20px;
}

.signupdrop ul {
  display: none;
  position: absolute;
  top: 32px;
  right: 26px;
  background-color: white;
  color: black;
  width: 170px;
  list-style: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding-left: 0px;
  box-shadow: 6px 5px 12px black;
}

.signupdrop {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
}

.signupdrop ul li {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 9px;
  padding: 10px 0px;
  padding-left: 5px;
  border-radius: 5px;
  box-sizing: border-box;
  text-align: var(150px);
}

.signupdrop ul li a {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: start;
  gap: 9px;
  align-items: center;
  width: 100%;
}

.signupdrop ul li:hover {
  background-color: lightgray;
}

.signup-toggle {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 17px;
}

.signupdrop ul.show {
  display: flex;
}

.filters ol {
  display: none;
  position: absolute;
  top: 68px;
  right: 26px;
  background-color: white;
  color: black;
  width: 170px;
  list-style: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding-left: 0px;
  box-shadow: -6px 5px 12px rgb(0, 0, 0);
}


.filters ol li {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 9px;
  padding: 10px 0px;
  padding-left: 10px;
  border-radius: 5px;
  box-sizing: border-box;
}

.filters ol li a {
  text-decoration: none;
  color: black;
  display: inline-block;
}

.filter-toggle {
  background-color: transparent;
  border: none;
  color: black;
  font-size: 17px;
}

.filters ol.show {
  display: flex;
}

.filters ol li:hover {
  background-color: lightgray;
}

.login {
  background-color: transparent;
  border: none;
  font-size: 17px;
}

.login a {
  text-decoration: none;
  color: white;
}

/* Cart */
.cart-box {
  position: relative;
}

.item-In-Cart {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: red;
  color: white;
  border-radius: 20%;
  font-size: 8px;
  padding: 0px 2px;
  width: 5px;
  text-align: center;
}

.Profile {
  width: 30px;
  height: 30px;
}

.searchbar {
  width: 100%;
  padding: 7px 5px;
}

.menu-container {
  gap: 10px;
  margin-top: 75px;
  width: 100%;
  flex-direction: row;
  display: flex;
}

.footer-section {
  animation-range: entry 0 cover 10%;
}

footer {
  background-color: #16a290;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  min-width: 200px;
  margin: 10px;
  animation: view linear;
  animation-timeline: view();
  animation-range: entry 0 cover 40%;
}

.footer-section h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.footer-section p,
.footer-section a {
  color: #ccc;
  text-decoration: none;
  font-size: 1em;
}

.footer-section a:hover {
  text-decoration: underline;
}

.footer-section img {
  width: 30px;
  margin: 5px;
}

footer p {
  margin-top: 20px;
  font-size: 0.9em;
}





@keyframes view {
  from {
    opacity: 0.6;
    scale: 0.5;
  }

  to {
    opacity: 1;
    scale: 1;
  }
}

.footer-section {
  flex: 1;
  min-width: 200px;
  margin: 10px;
  animation: view linear;
  animation-timeline: view();
  animation-range: entry 0 cover 30%;
}

.footer-section h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.footer-section p,
.footer-section a {
  color: #ccc;
  text-decoration: none;
  font-size: 1em;
}

.footer-section a:hover {
  text-decoration: underline;
}

.footer-section img {
  width: 30px;
  margin: 5px;
}

footer p {
  margin-top: 20px;
  font-size: 0.9em;
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .sidefilters {
    width: 25%;
  }

  .restaurant-item img {
    width: 100px;
    height: 100px;
  }

  .restaurant-info h3 {
    font-size: 1em;
  }

  .restaurant-info p {
    font-size: 0.9em;
  }
}

@media (max-width: 768px) {
  main {
    flex-direction: row;
    padding: 3px;
  }

  .logo span {
    font-size: 16px;
  }

  .buttonCont {
    width: 15%;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .sidefilters {
    width: 35%;
    border-right: none;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    margin-top: 19px;
  }

  .sidefilters input {
    margin-right: 10px;
    margin-left: 0px;
  }

  .restaurant-list {
    width: 100%;
    margin-top: 7px;
    margin-right: 12px;

  }

  .restaurant-item {
    align-items: center;
    padding: 5px;
    margin-bottom: 5px;
  }

  .restaurant-item img {
    width: 33%;
    height: auto;
  }

  .restaurant-info {
    text-align: start;
    font-size: 7px;
    line-height: 0.5;
    margin-left: -15px;
  }

  .detailsbutton,
  .cart {
    width: 30px;
    height: 20px;
    font-size: 5px;
  }

  .text {
    font-size: large;
  }

  .dropdown ul {
    width: 170px;
    top: 74px;
    left: 0px;
  }

  .dropdown ul li {
    padding-left: 10px;
  }

  .filters ol {
    width: 170px;
    top: 75px;
    right: 0px;
  }

  .signupdrop ul {
    width: 170px;
    top: 40px;
    right: 0px;
  }

  .Profile {
    width: 30px;
    height: 30px;
  }

  .footer-section {
    animation-range: entry 0 cover 10%;
  }

  .login {
    font-size: 15px;
  }

  .signup-toggle {
    font-size: 15px;
  }

}

@media (max-width: 480px) {

  .sidefilters h2,
  .restaurant-list h2 {
    font-size: 1em;
  }

  .sidefilters {
    padding: 8px;

  }

  .sidefilters input {
    width: 8px;
  }

  .sidefilters h2 {
    font-size: 0.6em;
    margin-bottom: 5px;
  }

  .sidefilters ul {
    font-size: 8px;
  }

  .sidefilters li {
    margin-bottom: 4px;
    display: flex;
    justify-content: start;
    align-items: center;
  }

  .restaurant-info {
    overflow-x: hidden;
    text-wrap: nowrap;
    overflow-y: visible;
    padding-top: 3px;
  }

  .restaurant-info h3 {
    font-size: 1em;
    width: 100%;
    text-wrap: nowrap;
  }

  .restaurant-info p {
    font-size: 0.8em;
  }

  .text {
    font-size: medium;
  }
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}