/* styles.css */
body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #16a290;
    color: #fff;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}

.heading {
    display: flex;
    align-items: center;
    gap: 5px;
}

.ChatBot {
    position: fixed;
    bottom: 8px;
    right: 8px;
    border-radius: 50%;
}

.bot-toggle {
    border-radius: 50%;
    background-color: #76e1d3;
    height: 38px;
}

.ChatBot-Box {
    display: none;
    position: absolute;
    background-color: white;
    color: black;
    box-shadow: 6px 5px 12px black;
    z-index: 10;
    bottom: 47px;
    right: 24px;
    height: 364px;
    width: 246px;
}

.ChatBot-Box.show {
    display: flex;
}


/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 20px;
}

.modal-content img {
    width: 100px;
}
#open-menu-button{
    width: 80px;
    margin: auto;
    border-radius: 5px;
    border: 1px solid gray;
    font-size: 17px;
    background-color: #16a290;
    color: white;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    flex-wrap: wrap;
    height: 100vh;
    gap: 15px;

}

#menu-modal {
    background-color: white;
    border-radius: 20px;
    /* margin-top: 100px; */
    padding-top: 50px;
    width: 90%;
    height: 90%;
    margin-left: 50px;
}

.menu-item {
    width: 150px;
    height: 263px;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    box-shadow: 2px 2px 12px black;
}
.details{
    width: 90%;
}
.menu-item h1 {
    font-size: 18px;
    white-space: nowrap; 
    overflow: hidden;   
    text-overflow: ellipsis; /
}

.menu-item p {
    font-size: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.menu-item .price {
    font-size: 18px;
}

.menu-item .imgcont {
    width: 100%;
    box-shadow: 2px 2px 8px gray;
    height: 140px;
    overflow: hidden; 
    position: relative;
    border-radius: 20px;
}

.menu-item-image {
    width: 100%;
    height: 140px;
    object-fit: contain;
    object-position: center;
    padding: 0px;
    border-radius: 20px;
    background-color: white;
}

section {
    margin-top: 82px;
}

.slider {
    width: 100%;
    max-width: 100%;
    position: relative;
    overflow: hidden;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.slides {
    display: flex;
    transition: transform 1s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
    position: relative;
    height: 100px;
}

.slide img {
    width: 100%;
    height: 100px;
    border-radius: 10px;
    filter: brightness(0.85);
    transition: filter 0.5s ease-in-out;
}

.slide img:hover {
    filter: brightness(1);
    /* Brightens image on hover */
}

main {
    padding: 1em;
}

.shipping {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin: auto;
    padding-top: 30px;
    font-size: 10px;

}

.shipping div {
    border: 1px solid red;
    padding: 9px;
    border-radius: 10px;
    background-color: white;
}

.category {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.burger {
    width: 47%;
    border: 1px solid gray;
    height: 220px;
    text-align: center;
    border-radius: 20px;
    background-color: white;
    animation: view linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}

@keyframes view {
    from {
        opacity: 0.6;
        scale: 0.5;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

.items {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.item {
    width: 47%;
    border: 1px solid gray;
    height: 220px;
    text-align: center;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.item button a {
    text-decoration: none;
    color: black;
}

.item button {
    background-color: gray;
    padding: 5px 14px;
    border-radius: 3px;
}

h2 {
    text-align: center;
}

.menu {
    text-align: center;
    font-size: 52px;
    margin-top: -21px;
    margin-bottom: 30px;
    text-decoration: underline;
}

.main h2 {
    background-color: gray;
    border-radius: 3px;
}

/* Add this to your styles.css */

.order-summary-container {
    background-color: #fff;
    border-radius: 8px;
    max-width: 600px;
    width: 100%;
    margin: auto;
    margin-top: 92px;
    border: 1px solid gray;
    box-shadow: 2px 2px 10px gray;
}

.header {
    text-align: center;
    border-bottom: 2px solid #ddd;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.order-details {
    font-size: small;
    padding: 0 20px;
}

.order-details p {
    margin-bottom: -10px;
}

.order-items {
    margin-bottom: 20px;
    padding: 0 20px;
}

.order-pricing {
    padding-left: 17px;
    font-size: 12px;
}

.order-pricing h2 {
    width: 90%;
    border-bottom: 2px solid #ddd;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.finalprice {
    width: 90%;
    border-top: 2px solid #ddd;
    margin-top: 10px;
    padding-top: 5px;

}

.order-details h1,
.order-items h2 {
    margin-bottom: 10px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
    text-align: center;
}

.Details {
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    line-height: 10px;

}

.item-img {
    width: 25%;
}


.Details:last-child {
    border-bottom: none;
}

.Details p {
    margin: 10px 0;
    display: flex;
}

.order-pricing p {
    font-weight: bold;
    margin: 5px 0;
}

.order-pricing p:last-child {
    font-size: 1.2em;
    color: #333;
}

#restaurant-list {
    display: flex;
    justify-content: space-around;
}
.restaurant-item {
    text-align: center;
    margin: 10px;
}

.restaurant-image {
    max-width: 100%;
    width: 240px;
    height: 200px;
    border-radius: 8px;
}

.modal-details {
    display: flex;
    gap: 20px;
}

#modal-restaurant-image {
    height: 140px;
    width: 200px;
}

#confirmLogout {
    background-color: #76e1d3;
}

@media screen and (min-width: 700px) {
    .item-img {
        width: 11%;
    }

    .items {
        width: 85%;
        gap: 50px;
    }

    .item {
        width: 25%;
    }

    .menu {
        font-size: 100px;
        margin-top: -30px;
    }

    .shipping {
        width: 85%;
        font-size: 17px;
    }

    .category {
        width: 85%;
        gap: 70px;
    }

    .burger {
        width: 25%;
    }

    .products {
        width: 85%;
        gap: 50px;
    }

    .product {
        width: 25%;
    }

    .order-details {
        font-size: 12px;
        padding: 0 20px;
    }

    .ChatBot {
        bottom: 20px;
        right: 20px;
        border-radius: 50%;
    }

    .bot-toggle {
        border-radius: 50%;
        height: 38px;
    }

    .ChatBot-Box {
        right: 45px;
        height: 430px;
        width: 350px;
    }

    section {
        margin-top: 108px;
    }

    .order-summary-container {
        margin-top: 89px;
        padding-top: 20px;
    }

    .slider {
        border-radius: 25px;
        max-width: 73%;
    }

    .slide {
        height: 150px;
    }

    .slide img {
        height: 200px;
    }
}