/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* background-color: gray; */
}

header {
    background-color: #16a290;
    color: #fff;
}
.heading{
    display: flex;
    align-items: center;
    gap: 5px;
}
nav{
    /* display: flex ; */
    align-items: center;
    padding-left: 5px;
    }
.logo{
    display: flex ;
    align-items: center;
    justify-content: space-between;
    gap: 3px;
}
.logo img{
    border-radius: 10px;
}
.logo h1{
    font-size: 17px;
}
.searchbar{
    width: 42%;
    border: 1px solid white;
    border-radius: 6px;
    background-color: transparent;
    color: white;
    padding: 1px 5px;
}
.searchbar::placeholder{
    color: white;
    opacity: 0.7;
}

/* Navigation menu styles */
.dropdown ul {
    display: none;
    position: absolute;
    top: 53px;
    left: 26px;
    background-color: white;
    color: black;
    width: 40vw;
    list-style: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding-left: 0px;
    box-shadow: 6px 5px 12px black;
}
.dropdown{
    display: flex;
    justify-content: space-between;
    background-color: #76e1d3;
    align-items: center;
}

.dropdown ul li {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 9px;
    padding: 10px 0px;
    padding-left: 5px; /* Adjust this value as needed */
    border-radius: 5px;
    box-sizing: border-box; /* Ensure padding is included in width */
    text-align: var(150px);
}

.dropdown ul li:hover {
    background-color: lightgray;
}


.dropdown ul li a {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: start;
    gap: 9px;
    align-items: center;
    width: 100%;
}

.menu-toggle{
    background-color: transparent;
    border: none;
    color:white;
    font-size: 22px;
}

.dropdown ul.show {
    display: flex;
}
.Profile{
    width: 20px;
    height: 20px;
   padding-top: 5px;

}
li img{
    width: 20px;
    height: 20px;
}
.signlog{
    display: flex;
}
.signupdrop ul {
    display: none;
    position: absolute;
    top: 53px;
    right: 26px;
    background-color: white;
    color: black;
    width: 40vw;
    list-style: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding-left: 0px;
    box-shadow: 6px 5px 12px black;
}
.signupdrop{
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    align-items: center;
}
.signupdrop ul li {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 9px;
    padding: 10px 0px;
    padding-left: 5px; /* Adjust this value as needed */
    border-radius: 5px;
    box-sizing: border-box; /* Ensure padding is included in width */
    text-align: var(150px);
}
.signupdrop ul li a {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: start;
    gap: 9px;
    align-items: center;
    width: 100%;
}
.signupdrop ul li:hover {
    background-color: lightgray;
}
.signup-toggle{
    background-color: transparent;
    border: none;
    color:white;
    font-size: 17px;
}

.signupdrop ul.show {
    display: flex;
}

.filters ol{
    display: none;
    position: absolute;
    top: 62px;
    right: 26px;
    background-color: white;
    color: black;
    width: 40vw;
    list-style: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding-left: 0px;
    box-shadow: -6px 5px 12px black;

}
.filters ol li{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 9px;
    padding: 10px 0px;
    padding-left: 10px; /* Adjust this value as needed */
    border-radius: 5px;
    box-sizing: border-box; /* Ensure padding is included in width */
    text-align: var(150px);
}
.filters ol li a {
    text-decoration: none;
    color: black;
    display: inline-block;
}
.filter-toggle{
    background-color: transparent;
    border: none;
    color:black;
    font-size: 17px;
}
.filters ol.show {
    display: flex;
}
.filters ol li:hover{
    background-color: lightgray;
}

.login{
    background-color: transparent;
    border: none;
    font-size: 17px;
  
}
.login a{
    text-decoration: none;
    color: white;
  
}


/* Cart */
.cart-box{
    position: relative;
}
.item-In-Cart{
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: red;
    color: white;
    border-radius: 20%;
    font-size: 8px;
    padding: 0px 2px;
}
.slider{
    width: 100%;
    margin: auto;
    border-radius: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    border: 1px solid black;
}
main {
    padding: 1em;
}

.shipping{
    width: 100%;
    display: flex ;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin: auto;
    padding-top: 30px;
    font-size: 10px;

}
.shipping div{
    border: 1px solid red ;
    padding: 9px;
    border-radius: 10px;
}
.category{
    width: 100%;
    margin: auto;
    display: flex ;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.burger{
    width: 47%;
    border: 1px solid gray;
    height: 220px;
    text-align: center;
    border-radius: 20px;
    animation: view linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}

@keyframes view {
    from{
        opacity: 0.6;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}
.items{
    width: 100%;
    margin: auto;
    display: flex ;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.item{
    width: 47%;
    border: 1px solid gray;
    height: 220px;
    text-align: center;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.item button a{
    text-decoration: none;
    color: black;
}
.item button{
    background-color: gray;
    padding: 5px 14px;
    border-radius: 3px;
}
h2{
    text-align: center;
}

.menu{
    text-align: center;
    font-size: 52px;
    margin-top: -21px;
    margin-bottom: 30px;
    text-decoration: underline;
}

.main h2{
    background-color: gray;
    border-radius: 3px;
}
/* Add this to your styles.css */

footer {
    background-color: #16a290;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin: 10px;
    animation: view linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}

.footer-section h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.footer-section p,
.footer-section a {
    color: #ccc;
    text-decoration: none;
    font-size: 1em;
}

.footer-section a:hover {
    text-decoration: underline;
}

.footer-section img {
    width: 30px;
    margin: 5px;
}

footer p {
    margin-top: 20px;
    font-size: 0.9em;
}


.order-summary-container {
    background-color: #fff;
    
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    margin: auto;
}

.header {
    text-align: center;
    border-bottom: 2px solid #ddd;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.order-details{
    font-size: small;
    padding: 0 20px;
}
.order-details p{
    margin-bottom: -10px;
}

 .order-items {
    margin-bottom: 20px;
    padding: 0 20px;
}
.order-pricing{
    padding-left: 17px;
}
.order-pricing h2{
    width: 90%;
    border-bottom:2px solid #ddd ;
    margin-bottom: 10px;
    padding-bottom: 5px;
}
.finalprice{
    width: 90%;
    border-top:2px solid #ddd ;
    margin-top: 10px;
    padding-top: 5px;

}

.order-details h2, .order-items h2 {
    margin-bottom: 10px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

.Details {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    
}
.item-img{
    width: 25%;
}


.Details:last-child {
    border-bottom: none;
}

.Details p {
    margin: 10px 0;
    display: flex;
}

.order-pricing p {
    font-weight: bold;
    margin: 5px 0;
}

.order-pricing p:last-child {
    font-size: 1.2em;
    color: #333;
}


@media screen and (min-width: 700px) {
    .item-img{
        width: 15%;
    }
    nav{
        padding-left: 10px;
        padding-right: 10px;
    }
    .logo h1{
        font-size: 22px;
    }
    .items{
        width: 85%;
        gap: 50px;
    }
    .item{
        width: 25%;
    }
    .menu{
        font-size: 100px;
        margin-top: -30px;
    }
    .slider{
        width: 85%;
    }
    .shipping{
        width: 85%;
        font-size: 17px;
    }
    .category{
        width: 85%;
        gap: 70px;
    }
    .burger{
        width: 25%;
    }
    .products{
        width: 85%;
        gap: 50px;
    }
    .product{
        width: 25%;
    }
    .order-details{
        font-size: medium;
        padding: 0 20px;
    }
    .dropdown ul {
        width: 20vw;
        top: 72px;
        left: 40px;
    }
    .dropdown ul li{
        padding-left: 10px;
    }
    .filters ol{
        width: 20vw;
        top: 72px;
        right: 70px;
    }
    .signupdrop ul{
        width: 20vw;
        top: 72px;
        right: 70px;
    }
    .Profile{
        width: 30px;
        height: 30px;
    }
   
    .searchbar{
        width: 60%;
        padding: 7px 5px;
    }
    .footer-section {
        animation-range: entry 0 cover 10%;
    }
}
@media screen and (min-width: 1300px) {
    .dropdown ul {
        width: 10vw;
    }
    .filters ol{
        width: 10vw;
    }
    .signupdrop ul{
        width: 10vw;
    }
}