/* t&c.css*/

.ChatBot {
    position: fixed;
    bottom: 8px;
    right: 8px;
    border-radius: 50%;
}

.bot-toggle {
    border-radius: 50%;
    background-color: #76e1d3;
    height: 38px;
}

.ChatBot-Box {
    display: none;
    position: absolute;
    background-color: white;
    color: black;
    box-shadow: 6px 5px 12px black;
    z-index: 10;
    bottom: 47px;
    right: 24px;
    height: 364px;
    width: 246px;
}

.ChatBot-Box.show {
    display: flex;
}

/* Style the container */
.container {
    max-width: 800px;
    margin: auto;
    background: #fff;
    padding: 20px;
}
.content{
    margin-top: 88px;
}
.content h2 {
    font-size: 1.5em;
    margin: 20px 0 10px;
}

.content p,
.content ul {
    margin-bottom: 20px;
}

.content ul {
    list-style: disc inside;
    padding-left: 20px;
}

.contact {
    background-color: #16a290;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.semicontainer {
    width: 100%;
    margin: auto;
    overflow: hidden;
    max-width: 900px;
}

.contact-form {
    background: white;
    padding: 20px;
    border-radius: 5px;
    margin: 15px 0;
}

.contact-form h2 {
    margin: 0 0 15px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 91%;
    padding: 10px;
    margin: 10px 7px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.contact-form {
    width: 97%;
    margin: 0px -19px;
}


.contact-form button {
    background: #16a290;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.contact-form button:hover {
    background: #1d756a;
}

/* Responsive styles */
@media screen and (min-width: 700px) {
    .dropdown ul {
        width: 20vw;
        top: 82px;
        left: 40px;
    }

    .dropdown ul li {
        padding-left: 10px;
    }

    .filters ol {
        width: 20vw;
        top: 82px;
        right: 70px;
    }

    .signupdrop ul {
        width: 20vw;
        top: 46px;
        right: 70px;
    }

    .login {
        font-size: 17px;
    }

    .signup-toggle {
        font-size: 17px;
    }

    .contact-form input[type="text"],
    .contact-form input[type="email"],
    .contact-form textarea {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    .semicontainer {
        width: 100%;
        margin: auto;
        overflow: hidden;
    }
    .ChatBot {
        bottom: 20px;
        right: 20px;
        border-radius: 50%;
    }
    .bot-toggle {
        border-radius: 50%;
        height: 38px;
    }
    .ChatBot-Box {
        right: 45px;
        height: 430px;
        width: 350px;
    }

}

@media screen and (min-width: 1300px) {
    .dropdown ul {
        width: 10vw;
    }

    .filters ol {
        width: 10vw;
    }

    .signupdrop ul {
        width: 10vw;
    }
}