/* t&c.css*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    background-color: #16a290;
    color: #fff;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.ChatBot {
    position: fixed;
    bottom: 8px;
    right: 8px;
    border-radius: 50%;
}

.bot-toggle {
    border-radius: 50%;
    background-color: #76e1d3;
    height: 38px;
}

.ChatBot-Box {
    display: none;
    position: absolute;
    background-color: white;
    color: black;
    box-shadow: 6px 5px 12px black;
    z-index: 10;
    bottom: 47px;
    right: 24px;
    height: 364px;
    width: 246px;
}

.ChatBot-Box.show {
    display: flex;
}

/* Navigation styles */
nav {
    padding: 7px 2px;
    position: relative;
    width: 100%;
}


.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3px;
}

.logo img {
    border-radius: 10px;
}

.logo h1 {
    font-size: 17px;
}

/* Navigation menu styles */
.dropdown ul {
    display: none;
    position: absolute;
    top: 68px;
    left: 26px;
    background-color: white;
    color: black;
    width: 40vw;
    list-style: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding-left: 0px;
    box-shadow: 6px 5px 12px black;
}

.dropdown {
    display: flex;
    justify-content: space-between;
    background-color: #76e1d3;
    align-items: center;
    z-index: 100;
}

.dropdown ul li {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 9px;
    padding: 10px 0px;
    padding-left: 5px;
    /* Adjust this value as needed */
    border-radius: 5px;
    box-sizing: border-box;
    /* Ensure padding is included in width */
    text-align: var(150px);
}

.dropdown ul li:hover {
    background-color: lightgray;
}


.dropdown ul li a {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: start;
    gap: 9px;
    align-items: center;
    width: 100%;
}

.menu-toggle {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 22px;
}

.dropdown ul.show {
    display: flex;
}

.Profile {
    width: 20px;
    height: 20px;
    padding-top: 5px;

}

li img {
    width: 20px;
    height: 20px;
}

.signlog {
    display: flex;
}

.signupdrop ul {
    display: none;
    position: absolute;
    top: 32px;
    right: 26px;
    background-color: white;
    color: black;
    width: 40vw;
    list-style: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding-left: 0px;
    box-shadow: 6px 5px 12px black;
}

.signupdrop {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    align-items: center;
}

.signupdrop ul li {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 9px;
    padding: 10px 0px;
    padding-left: 5px;
    /* Adjust this value as needed */
    border-radius: 5px;
    box-sizing: border-box;
    /* Ensure padding is included in width */
    text-align: var(150px);
}

.signupdrop ul li a {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: start;
    gap: 9px;
    align-items: center;
    width: 100%;
}

.signupdrop ul li:hover {
    background-color: lightgray;
}

.signup-toggle {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 10px;
}

.signupdrop ul.show {
    display: flex;
}

.filter-toggle {
    z-index: 100;
}

.filters ol {
    display: none;
    position: absolute;
    top: 68px;
    right: 26px;
    background-color: white;
    color: black;
    width: 40vw;
    list-style: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding-left: 0px;
    box-shadow: -6px 5px 12px black;

}

.filters ol li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 9px;
    padding: 10px 0px;
    padding-left: 10px;
    /* Adjust this value as needed */
    padding-right: 10px;
    /* Adjust this value as needed */
    border-radius: 5px;
    box-sizing: border-box;
    /* Ensure padding is included in width */
    text-align: var(150px);
}

.filters ol li a {
    text-decoration: none;
    color: black;
    display: inline-block;
}

.filter-toggle {
    background-color: transparent;
    border: none;
    color: black;
    font-size: 17px;
}

.filters ol.show {
    display: flex;
}

.filters ol li:hover {
    background-color: lightgray;
}

.login {
    background-color: transparent;
    border: none;
    font-size: 10px;
}

.login a {
    text-decoration: none;
    color: white;

}

/* Cart */
.cart-box {
    position: relative;
}

.item-In-Cart {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: red;
    color: white;
    border-radius: 20%;
    font-size: 8px;
    padding: 0px 2px;
}

/* Content styles */
/* Style the container */
.container {
    max-width: 800px;
    margin: auto;
    background: #fff;
    padding: 20px;
}
.content{
    margin-top: 88px;
}
.content h2 {
    font-size: 1.5em;
    margin: 20px 0 10px;
}

.content p,
.content ul {
    margin-bottom: 20px;
}

.content ul {
    list-style: disc inside;
    padding-left: 20px;
}

.contact {
    background-color: #16a290;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.semicontainer {
    width: 100%;
    margin: auto;
    overflow: hidden;
    max-width: 900px;
}

.contact-form {
    background: white;
    padding: 20px;
    border-radius: 5px;
    margin: 15px 0;
}

.contact-form h2 {
    margin: 0 0 15px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 91%;
    padding: 10px;
    margin: 10px 7px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.contact-form {
    width: 97%;
    margin: 0px -19px;
}


.contact-form button {
    background: #16a290;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.contact-form button:hover {
    background: #1d756a;
}

/* Responsive styles */
@media screen and (min-width: 700px) {
    .dropdown ul {
        width: 20vw;
        top: 82px;
        left: 40px;
    }

    .dropdown ul li {
        padding-left: 10px;
    }

    .filters ol {
        width: 20vw;
        top: 82px;
        right: 70px;
    }

    .signupdrop ul {
        width: 20vw;
        top: 46px;
        right: 70px;
    }

    .login {
        font-size: 17px;
    }

    .signup-toggle {
        font-size: 17px;
    }

    .contact-form input[type="text"],
    .contact-form input[type="email"],
    .contact-form textarea {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    .semicontainer {
        width: 100%;
        margin: auto;
        overflow: hidden;
    }
    .ChatBot {
        bottom: 20px;
        right: 20px;
        border-radius: 50%;
    }
    .bot-toggle {
        border-radius: 50%;
        height: 38px;
    }
    .ChatBot-Box {
        right: 45px;
        height: 430px;
        width: 350px;
    }

}

@media screen and (min-width: 1300px) {
    .dropdown ul {
        width: 10vw;
    }

    .filters ol {
        width: 10vw;
    }

    .signupdrop ul {
        width: 10vw;
    }
}